<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crazy.crazyalarm">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 使用特性 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrazyAlarm">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.huawei.hms.hmsscankit.ScanKitActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".closeModeActivity.ScanActivity" />
        <activity android:name=".SetClockActivity" />
        <activity android:name=".clockUtils.ClockAlarmActivity"/>
        <activity android:name=".closeModeActivity.jigsaw.JigsawActivity"/>
        <activity android:name=".closeModeActivity.MathActivity"/>

        <receiver
            android:name=".clockUtils.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.crazy.crazyalarm.clock" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- <action android:name="android.intent.action.QUICKBOOT_POWERON"/> -->
            </intent-filter>
        </receiver>
    </application>

</manifest>